.navbar {
  font-family: "Raleway", sans-serif;
  width: 100%;
  display: flex;
  height: auto;
  margin-top: 0px;
}

.navbar-wrapper {
  width: 95%;
  height: auto;
  display: flex;
}

.logo-div {
  width: 30%;
}
.logo-div > img {
  float: left;
  margin-left: 25%;
  background-color: #e2f6f5;
}

.contact-div {
  margin-top: 25%;
  padding-top: 1%;
  padding-left: 1%;
  display: flex;
  width: 100%;
}

.nav-menu-h1 {
  width: 100%;
  font-size: 5rem;
  color: #ffffff;
}

.login-div {
  margin-right: 70px;
  margin-top: 5%;
  float: right;
  width: 50%;
}

.navbar-btns {
  width: 100%;
  float: right;
  text-align: right;
  font-size: 5rem;
  color: #ffffff;
}

.navbar-btns:hover {
  /* background-color: #e2f6f5; */
  border: 2px solid white;
  color: #ffffff;
}
.login-btn {
  background-color: #fdd900;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
}

.nav-menu-li {
  text-align: right;
  list-style: none;
  text-decoration: none;
}

.login-div-ul {
  display: flex;
}

.login-div-li {
  margin-left: 5%;
  list-style: none;
  text-decoration: none;
}

.login-btn:hover {
  background-color: #fad81a;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
}
.nav-menu-ul {
  width: 100%;
  margin-right: 100px;
}

/* hamburger menu */

.show-btn-div {
  float: right;
}
.hamburger-icon {
  margin-right: 5%;
  float: right;
  cursor: pointer;
}

.ham-menu-div {
  width: 100%;
  height: 960px;
  z-index: 1;
  background-color: #001831;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navbar-menu-div {
  position: relative;
  margin-top: 10px;
  margin-right: 30px;
  bottom: 0;
  left: 0;
  width: 1000px;
  height: 90%;
  float: right;
}

.close-icon {
  color: #e2f6f5;
  float: right;
  display: inline;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
  .login-div-ul {
    display: grid;
  }
  .navbar-btns {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    border: 2px solid #e2f6f5;
    font-family: "Poppins", sans-serif;
    float: left;
    margin-left: 0%;
  }
  
  .contact-div {
    margin-top: 10%;
    /* background-color: red; */
  }
  .ham-menu-div {
    width: 100%;
    height: 850px;
    z-index: 1;
    background-color: #001831;
    position: static;
    margin-top: -100px;
    right: 0;
    bottom: 100;
    left: 0;
  }
  .navbar-menu-div {
    position: static;
    margin-top: 10px;
    margin-right: 0px;
    width: 100%;
    height: 90%;
    float: left;
  }
  .nav-menu-ul {
    width: 100%;
    margin-top: 10%;
    display: grid;
    margin-right: 0px;
    /* background-color: red; */
  }
  .nav-menu-li {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* background-color: green; */
    text-decoration: none;
  }
  .navbar-wrapper {
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
  }
  .logo-div {
    width: 70%;
  }
  .show-btn-div {
    width: 30%;
  }
  .contact-div {
    display: flex;
  }
  .login-div {
    margin-right: 0px;
    margin-top: 5%;
    float: left;
    width: 100%;
  }
  .login-div > button {
    margin-left: 0px;
  }

  .logo-div > img {
    float: left;
    margin-left: 0%;
    background-color: #e2f6f5;
  }
}
