.container-fluid {
    margin: 0px;
    padding: 0px;
}

.Food-menu-row {
    background: #ffffff;
    width: 100%;
    margin: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.Food-menu-col {
    border-left: 2px solid #000;
}

/* btn */

.food-menu-btn-one {
    width: 200px;
    height: 200px;
    float: right;
}

.food-menu-btn-two {
    width: 200px;
    height: 200px;
    float: left;
}

.food-menu-btn-three {
    width: 200px;
    height: 200px;
    float: right;
}

.food-menu-btn-four {
    width: 200px;
    height: 200px;
    float: left;
}
.Food-Menu-Wrap-row{
    margin-top: 10%;
}

.Food-Menu-Wrap-row-two{
    margin-top: 3%;
}