.blood-container {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
.blood-main-wrapper {
  margin: 0px;
  padding: 0px;
  background-color: #391a99;
}

.icon-div-one{
  margin-top: 60%;
}
.icon-h1 {
  margin-top: 10%;
  color: #f7d200;
}
.box-one {
  width: 250px;
  border-radius: 10px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #4e34af;
}

.box-two {
  margin-left: 0px;
  margin-right: auto;
  border-radius: 10px;
  width: 250px;
  height: 230px;
  color: #ffffff;
  background-color: #4e34af;
}

.box-three {
  margin-top: 0px;
  border-radius: 10px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  height: 230px;
  color: #ffffff;
  background-color: #4e34af;
}

.blood-donate-row {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 7%;
}

.blood-wrapper-row-three{
  width: 85%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.blood-bank-col{
  /* width: 50%; */
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
}
.box-four {
  margin-left: 0px;
  border-radius: 10px;
  margin-right: auto;
  width: 250px;
  height: 230px;
  color: #ffffff;
  background-color: #4e34af;
}

.dropdown-wrapper{
  display: flex;
  /* background-color: red; */
  width: 40%;
  margin-top: 5%;
}

.drop-div{
  width: 30%;
  margin-left: 2%;
}
.box-row-one {
  display: flex;
  /* background-color: red; */
  margin: 0px;
  padding: 0px;
}
.box-row-two {
  display: flex;
  /* background-color: green; */
  margin: 0px;
  margin-top: 3.5%;
  padding: 0px;
}

.box-col-main {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.bank-search-btn{
  width: 150px;
  height: 43px;
  background-color: #003566;
}

/* dropdown */
.blood-wrapper-two{
  width: 100%;
  padding-top: 2%;
  padding-bottom: 5%;
}


.blood-bank-data-table{
  border: 2px solid black;
}

.blood-bank-data-table>tbody>tr>td{
  border: 1px solid #003566;
}