.Bloodcamp-wrapper {
  margin-bottom: 50px;
  padding: 0px;
}
.Bloodcamp-row-one {
  width: 100%;
  background-color: #E2F6F5;
  margin: 0px;
  padding-top: 2%;
  padding-bottom: 3%;
}

.Bloodcamp-img-div {
  width: 100%;

  margin: 0px;
}
.Bloodcamp-img-div > img {
  width: 50%;
}

.Bloodcamp-row-two {
  width: 100%;
  color: #ffffff;
  /* border-top: 1px solid #fff; */
  background-color: #4724b1;
  margin: 0px;
  /* padding: 15px 0px 0px 20px; */
}
.Bloodcamp-title-div {
  padding-top: 3%;
  padding-bottom: 3%;
}

.Bloodcamp-title-div > h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.6rem;
}
.Bloodcamp-row-three {
  width: 100%;
  margin: 0px;
  /* padding-top: 10px; */
}
.Bloodcamp-row-four {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.Bloodcamp-dropdown-wrapper {
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: flex;
}
.Bloodcamp-row-four-col {
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.Bloodcamp-data-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #1d1d1d;
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
}

.Bloodbank-data-tr {
  border: 1px solid rgb(119, 119, 119);
}

.Bloodbank-data-tr > td {
  border: 1px solid rgb(128, 128, 128);
}
