.Donor-container {
  background-color: #eeeeee;
}
.Donor-wrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.Donor-row {
  width: 100%;
  background-color: #d8d8d8;
  padding-top: 5%;
  padding-bottom: 5%;
}

.Donor-reg-form {
  border: 2px solid grey;
  margin: 30px;
  border-radius: 10px;
  padding: 20px;
  /* display: flex; */
}

.Donor-form-half-div {
  display: flex;
}
.donor-form-half {
  width: 49%;
}

.Donor-form-threehalf-div {
  display: flex;
}

.Donor-form-threehalf {
  width: 32%;
}


.Donor-reg-btn{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}