.fundraise-section {
  width: 100%;
  height: auto;
}

.fundraise-row-one-wrapper {
  width: 70%;
  height: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.fundraise-row {
  width: auto;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #e2f6f5;
}

.fundraise-div {
  text-align: center;
  margin-left: 20%;
  width: 70%;
  display: flex;
}

.fundraise-div > img {
  width: 30px;
}
.fundraise-div-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 20px;
}

/* fundraise title */
.fundraise-title-row {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 100%;
}

.fundraise-title {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.fundraise-title > h1 {
  font-weight: 500;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}

/* new */

.fundraise-card-row {
  margin-bottom: 3%;
  width: 100%;
}

.fundraise-card-wrap {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.fundraise-card {
  border: none;
  box-shadow: 4px 8px 6px 0px rgb(192, 192, 192);
  margin-left: 10px;
}

.fundraise-btn {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #fdd900;
  font-family: "Poppins", sans-serif;
  color: #000100;
  font-size: 16px;
  font-weight: 500;
}

.progress-bar {
  width: 50%;
}
.fundraise-card-body {
  background: transparent;
  border: none;
  text-align: left;
  padding: 20px 20px 0px 20px;
}

.fundraise-card-header {
  padding: 0px;
  border: none;
}
.fundraise-card-body > h6 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: 5%;
}

.fundraise-card-footer {
  background: transparent;
  border: none;
}
