.Joinmission-wrapper {
  width: 100%;
}

.joinmission-div {
  width: 70%;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdd900;
}
.joinmission-text{
    width: 70%;
    
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 6%;
}

.joinmission-text>h1{
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}