/* subscribe */
.newsletter-wrapper{
    width: 100%;
    /* background-color: red; */
    padding-top:4%;
    padding-bottom: 5%;
}
.subscribe-row{
    width: 70%;
    margin-top:4%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

.subscribe-title-div{
    width: 85%;
    text-align: left;
    /* background-color: green; */
}

.helping-hand-icon{
    margin-left: 60%;
}

.subscribe-title-text>h1{
    font-size: 2.8rem;
    font-family: "Poppins", sans-serif;
}

.email-form{
    width: 340px;
    height: 55px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    background-color: rgb(231, 229, 229);
}

.subscribe-btn{
  padding: 15px 15px;
  border-radius: 3px;
  background-color: #fdd900;
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 18px;
}

.form-inline{
    margin-top: 5%;
}