.volunteers-wrapper {
  width: 100%;
  height: 950px;
  padding-top: 2%;
  margin-bottom: 1%;
}
.volunteers-title-div > h1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}
.volunteers-row {
  width: 64%;
  margin-top: 2%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
.volunteers-col {
  /* padding: 20px; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.volunteers-col-wrapone {
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
}

.volunteers-card-header {
  border: none;
  background:transparent;
  display: flex;
}
.volunteers-card-header-text{
    margin-top: 9%;
    margin-left: 10px;
    text-align: left;
    font-family: "Poppins", sans-serif;
}

.volunteers-card-body>h6{
    text-align: left;
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
}
.volunteers-col-wraptwo {
  padding-left: 0px;
}

.volunteers-card-one {
    background-color: #b8fffb;
}

.volunteers-card-two {
    border: 2px solid black;
}
.volunteers-card-three {
    background-color: #1cfff4;
}
.volunteers-card-four {
    background-color: #fdd900;
}
.volunteers-card {
  /* border: none; */
  margin: 27px 0px 0px 0px;
}


/* subscribe */

.subscribe-row{
    width: 70%;
    margin-top:8%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

.subscribe-title-div{
    width: 85%;
    text-align: left;
    /* background-color: green; */
}

.helping-hand-icon{
    margin-left: 60%;
}

.subscribe-title-text>h1{
    font-size: 2.8rem;
    font-family: "Poppins", sans-serif;
}

.email-form{
    width: 340px;
    height: 55px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    background-color: rgb(231, 229, 229);
}

.subscribe-btn{
  padding: 15px 15px;
  border-radius: 3px;
  background-color: #fdd900;
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 18px;
}

.form-inline{
    margin-top: 5%;
}