.container-fluid {
  margin: 0px;
  padding: 0px;
}

.Food-menu-row {
  background: #ffffff;
  width: 100%;
  margin: 0px;
  padding-top: 4%;
  padding-bottom: 6%;
}

.Food-menu-col {
  border-left: 2px solid #09a05c;
}

/* btn */

.Food-menu-btn-one {
  width: 220px;
  border: none;
  border-radius: 5px;
  background-color: #edf6f9;
  font-family: "Poppins", sans-serif;
  height: 220px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  float: right;
  padding-top: 7%;
  color: #140101;
}

.Food-menu-btn-one>a {
  text-decoration: none;
  list-style-type: none;
  color: #131313;
}

.Food-menu-btn-one:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.food-menu-btn-two {
  width: 220px;
  background-color: #edf6f9;
  height: 220px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  float: left;
  color: #010101;
}

.food-menu-btn-two:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: #010101;
}

.food-menu-btn-three {
  width: 220px;
  background-color: #edf6f9;
  height: 220px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  float: right;
  color: #010101;
}

.food-menu-btn-three:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: #010101;
}

.food-menu-btn-four {
  width: 220px;
  background-color: #edf6f9;
  height: 220px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  float: left;
  color: #010101;
}

.food-menu-btn-four:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: #010101;
}

.Food-Menu-Wrap-row {
  margin-top: 7%;
}

.Food-Menu-Wrap-row-two {
  margin-top: 3%;
}

/* food volunteers register */

.food-volunteer-register {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #b6e8ff; */
  /* border-radius: 20px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.food-donor-register {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #b6e8ff; */
  /* border-radius: 20px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.food-receiver-register {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #b6e8ff; */
  /* border-radius: 20px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.food-restaurant-register {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #b6e8ff; */
  /* border-radius: 20px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



/*  */

.food-donor-register-wrap {
  margin: 10px;
  text-align: left;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.food-receiver-register-wrap {
  margin: 0px 10px 10px 10px;
  text-align: left;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.food-restaurant-register-wrap {
  margin: 0px 10px 10px 10px;
  text-align: left;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.volunteer-register-wrap {
  margin: 10px;
  text-align: left;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* btn */

.food-btn-tagline {
  width: auto;
  margin-left: 27%;
  /* margin-top: 2%; */
  text-align: center;
}

.back-menu-btn {
  float: left;
  width: 80px;
  height: 40px;
  color: #edf6f9;
  background-color:#26363b;
}

.back-menu-btn:hover{
  color: #000000;
  border: 1px solid #010101;
  background:transparent;
}

.food-donor-register-card-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.food-receiver-register-card-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.food-restaurant-register-card-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.volunteer-register-card-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  /* background-color: red; */
}

.food-form-input-half {
  display: flex;
  width: 100%;
}

.input-half-div {
  width: 49%;
}

.see-vol-btn{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
  background-color:#1A2E35;
}

.see-vol-btn:hover{
  text-decoration: none;
  color: #ffd2d2;
}

.food-restaurant-register-submit{
  background-color:#1A2E35;
  width: 49%;
  color: #edf6f9;
  border: none;
}

/* .form-control{
  margin-top: -1%;
  border: 1px solid #26363B;
  color: #010101;
} */