.container-fluid {
  margin: 0px;
  padding: 0px;
}

.Books-menu-row {
  background: #ffffff;
  width: 100%;
  margin: 0px;
  padding-top: 4%;
  padding-bottom: 7%;
}

.Books-menu-col {
  border-left: 2px solid #09a05c;
}

/* btn */

.Books-menu-btn-one {
  width: 220px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  height: 220px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  float: right;
  padding-top: 3%;
  color: #140101;
}

.Books-menu-btn-one > a {
  text-decoration: none;
  list-style-type: none;
  color: #131313;
}

.Books-menu-btn-one:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.Books-menu-btn-two {
  width: 220px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  height: 220px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  float: left;
  padding-top: 3%;
  color: #140101;
}

.Books-menu-btn-two:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: #010101;
}

.Books-menu-btn-three {
  width: 220px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  height: 220px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  float: right;
  padding-top: 3%;
  color: #140101;
}

.Books-menu-btn-three:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: #010101;
}

.Books-menu-btn-four {
  width: 220px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  height: 220px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  float: left;
  padding-top: 3%;
  color: #140101;
}

.Books-menu-btn-four:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: #010101;
}

.Books-Menu-Wrap-row {
  margin-top: 7%;
}

.Books-Menu-Wrap-row-two {
  margin-top: 3%;
}

/* Books volunteers register */

.Books-volunteer-register {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #b6e8ff; */
  /* border-radius: 20px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Books-donor-register {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #b6e8ff; */
  /* border-radius: 20px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Books-receiver-register {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #b6e8ff; */
  /* border-radius: 20px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Books-restaurant-register {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #b6e8ff; */
  /* border-radius: 20px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*  */

.Books-donor-register-wrap {
  margin: 10px;
  text-align: left;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.Books-receiver-register-wrap {
  margin: 0px 10px 10px 10px;
  text-align: left;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.Books-restaurant-register-wrap {
  margin: 0px 10px 10px 10px;
  text-align: left;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.volunteer-register-wrap {
  margin: 10px;
  text-align: left;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* btn */

.Books-btn-tagline {
  width: auto;
  margin-left: 27%;
  /* margin-top: 2%; */
  text-align: center;
}

.back-menu-btn {
  float: left;
  width: 80px;
  height: 40px;
  color: #edf6f9;
  background-color: #26363b;
}

.Books-donor-register-card-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.Books-receiver-register-card-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.Books-restaurant-register-card-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.volunteer-register-card-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  /* background-color: red; */
}

.Books-form-input-half {
  display: flex;
  width: 100%;
}

.input-half-div {
  width: 49%;
}

.see-vol-btn {
  width:   95%;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  color: #010101;
  padding: 5px 10px;
  background-color: #1a2e35;
}

.see-vol-btn:hover {
  text-decoration: none;
  color: #ffd2d2;
}

.Books-restaurant-register-submit {
  background-color: #1a2e35;
  width: 49%;
  color: #edf6f9;
  border: none;
}

.form-control {
  margin-top: -1%;
  border: 1px solid #26363b;
  color: #010101;
}

.Books-org-icon {
  /* color: #363636; */
  fill: #0a0a0a;
}


.Books-img-col{
    margin-top: 5%;
    height: 100%;
}