.login-section {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.login-head {
    text-align: left;
}

.login-title-text {
    text-align: left;
}

.signup-into-btn {
    border: none;
    width: auto;
    background: transparent;
    height: auto;
    color: #4267B2;
}

/* login form */

.login-line {
    display: flex;
}

.login-line>hr {
    width: 50%;
    border: 1px solid #6c757d;
}

.whole-login-sec-wrap {
    margin-top: 7%;
}

.login-form-wrapper-row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 8%;
}

.form-wrap{
    text-align: left;
}
.login-col-wrap {
    display: flex;
    width: 100%;
}

.login-switch-btns {
    width: 100%;
    display: flex;
    border: 1px solid ;
    margin-left: auto;
    border-radius: 15px;
    border:1px solid #391A99;
    margin-right: auto;
    height: auto;
}

.login-form-div {
    width: 68%;
    padding: 30px;
    margin-top: 2%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 20px;
    margin-left: auto;
    background-color: #ffffff;
    margin-right: auto;
}

.form-control{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(228, 228, 228);
    padding: 15px;
    /* border: 1px solid rgb(228, 228, 228); */
}

.donor-login-form {
    width: 100%;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
}

.receiver-login-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

.login-switch-donor-btn {
    width: 50%;
    height: 35px;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    background-color: #391A99;
}

.disabled {
    width: 50%;
    height: 35px;
    margin: 0px;
    padding: 0px;
    color: #020000;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    background-color: #d1d1d1;
}

.submit-donor {
    width: 40%;
    border-radius: 10px;
    float: left;
    background-color: #0466c8;
    color: #ffffff;
}

.social-login-btn-google {
    width: 49%;
    color: #131313;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 30px;
    height: 45px;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

.social-login-btn-facebook {
    width: 49%;
    margin-left: 10px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    border: none;
    border-radius: 30px;
    height: 45px;
    background-color: #4267B2;
}

/* signup */


.social-login-div {
    display: flex;
}