.login-section {
  width: 100%;
  padding-top: 4%;
  padding-bottom: 2%;
  height: auto;
  background-color: #ffffff;
}

.login-head {
  text-align: left;
}

.login-title-text {
  text-align: left;
  font-size: 2.3rem;
}

.signup-into-btn {
  border: none;
  width: auto;
  background: transparent;
  height: auto;
  color: #4267b2;
}

/* login form */
.frgt-pass {
  text-align: right;
  float: right;
  color: #391a99;
}
.login-line {
  display: flex;
}

.login-line > hr {
  width: 50%;
  border: 1px solid #6c757d;
}

.whole-login-sec-wrap {
  margin-top: 7%;
}

.login-form-wrapper-row {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 8%;
}

.form-wrap {
  text-align: left;
}

.login-col-wrap {
  display: flex;
  width: 100%;
}

.login-form-wrappe-col > img {
  width: 850px;
}

.login-switch-btns {
  width: 100%;
  display: flex;
  border: 1px solid;
  margin-left: auto;
  border-radius: 15px;
  border: 1px solid #391a99;
  margin-right: auto;
  height: auto;
}

.login-form-div {
  width: 64%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  /* margin-top: 2%; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 20px;
  margin-left: auto;
  background-color: #f6fff8;
  margin-right: auto;
}

.donor-login-form {
  width: 100%;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
}

.receiver-login-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}

.submit-donor {
  width: 40%;
  border-radius: 10px;
  float: left;
  background-color: #0466c8;
  color: #ffffff;
}

/* signup */

.social-login-div {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .login-form-wrappe-col > img {
    width: 250px;
  }
  .login-form-wrapper-row {
    width: 95%;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
  }
  .frgt-pass {
    text-align: left;
    float: left;
    color: #391a99;
  }
  .login-section {
    width: 95%;
    /* background-color: yellow; */
    margin: 0px;
    padding: 0px;
    padding-top: 4%;
    padding-bottom: 2%;
    height: auto;
    background-color: #ffffff;
  }
  .login-form-div {
    width: 100%;
    margin: 0px;
    position: static;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    padding: 30px;
    margin-top: 4%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 20px;
    margin-left: 10px;
  }
  .login-title-text {
    text-align: left;
    font-size: 1.6rem;
  }
  .switch-page-text {
    font-size: 18px;
  }
  .form-control {
    height: 35px;
  }

  .submit-donor {
    width: 40%;
    border-radius: 13px;
    float: left;
    padding: 6px;
    background-color: #0466c8;
    color: #ffffff;
  }
  .signup-form-col {
    margin: 0px;
    /* background-color: green; */
    padding: 0px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .login-form-wrappe-col > img {
    display: none;
  }
  .login-form-div {
    width: 100%;
    padding: 30px;
    margin: 0px;
    margin-top: 4%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 20px;
    margin-left: auto;
    background-color: #ffffff;
    margin-right: auto;
  }
  .signup-form-col {
    margin: 0px;
    padding: 0px;
  }
}
